html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  --c0: rgb(245, 229, 229);
  --c1: rgb(254, 212, 213);
  --c2: rgb(220, 190, 217);
  --c3: rgb(200, 174, 217);
  --c4: rgb(177, 159, 204);
  --c5: rgb(153, 140, 185);
  --c6: rgb(130, 122, 166);
  --c7: rgb(107, 104, 147);
  --c8: rgb(85, 89, 134);
  --c9: rgb(64, 67, 100);
  --c10: rgb(46, 44, 63);
  background-color: var(--c10);
}

h1 {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}
#tabuleiro {
  align-items: center;
  display: flex;
  flex-direction: column;
}
body {
  background-image: url(https://img.freepik.com/vetores-gratis/infeccao-por-virus-ou-bacterias-gripe-fundo_1035-18704.jpg?w=2000);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.caixa {
  margin: 2px;
  font-size: 25pt;
  background-color: var(--c5);
  border: 3px solid black;
  border-radius: 3px;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
button {
  border: 1px solid #222;
  border-radius: 3px;
  color: white;
  background-color: var(--c9);
  padding: 10px;
}
.linha {
  display: flex;
  
}

#teclado {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

#teclado div {
  display: flex;
}

.col2 {
  margin: 0.5rem;
}

.botaoTeclado {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
  margin: 0 2px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px;
}
.Voltar {
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: var(--c10);
  padding: 10px;
  margin: auto;
  border-radius: 5px;
}
.voltarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
